/* CSS Document */

div.debug {
}
div.debug table  {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #000; 
	font-size: 12px;
	border-collapse: collapse;
	border: 1px solid #000;
	margin: 0;
}

div.debug .header { 
	font-weight: bold; 
	color: #FFF; 
}
div.debug td {
	vertical-align: top;
	padding: 5px;
	border: 1px solid #000;
}
div.debug .error {
	background-color: #F00;
	color: #FFF;
}

/* default */
div.debug td {
	background-color:#FFF;
}
div.debug table, div.debug .header { 
	background-color: #7A7; 
}
div.debug td.key { 
	background-color: #CFC; 
}

/* array */
div.debug .array, div.debug .array td.header { 
	background-color: #77A; 
}
div.debug .array td.key, div.debug table.array tr.titles td { 
	background-color: #CCF; 
}

/* object */
div.debug .object, div.debug .object td.header { 
	background-color: #AA7; 
}
div.debug .object td.key { 
	background-color: #FFC; 
}

/* resource */
div.debug .resource, div.debug .resource td.header { 
	background-color: #A7A; 
}
div.debug .resource td.key { 
	background-color: #FDF; 
}

/* xml */
div.debug .xml, div.debug .xml td.header { 
	background-color: #AAC; 
}
div.debug .xml td.key { 
	background-color: #CCF; 
}
