/* sliding doors technique for select buttons */
.select_bar_left,
.select_bar {
	margin: 10px;
	float: left;
	width: 100%;
	position:relative;
}

.select_bar_right {
	float: right;
	width: 100%;
	position:relative;
}

div.admin_select_button2, 
div.admin_select_button2_on,
div.select_button2, 
div.select_button2_on {
	display: inline;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	width: auto;
	overflow: visible;					
	text-align: center;	
	white-space: nowrap;	
	height: 17px;
	line-height: 17px;
}

div.admin_select_button2 span,
div.admin_select_button2 span a,
div.admin_select_button2_on span,
div.admin_select_button2_on span a,
div.select_button2 span,
div.select_button2 span a,
div.select_button2_on span,
div.select_button2_on span a {
	padding-bottom: 5px;
	height: 17px;
	line-height: 17px;			
	margin: 0;
	color: #FFF;
}

div.admin_select_button2 span,
div.admin_select_button2_on span,
div.select_button2 span,
div.select_button2_on span {
	padding-top: 2px;
	padding-left: 5px;
	background: url(images/ui_off.png) no-repeat 0 0;
}

div.admin_select_button2 span a, 
div.admin_select_button2_on span a,
div.select_button2 span a, 
div.select_button2_on span a {
	padding-top: 2px;
	text-decoration: none;
	font-style: normal;
	padding-right: 5px;
	background: url(images/ui_off.png) no-repeat 100% 0;
}

.admin_select_button,
.admin_select_button_on,
.select_button,
.select_button_on {
	padding: 0 0 1px 0;
	margin: 0 5px 0 0;
	background: url(images/ui_right_off.png) no-repeat right top;
	border: none;
}

.select_button,
.select_button_on {
	float: right;
	position:relative;
}

.select_bar_left .select_button,
.select_bar_left .select_button_on,
.admin_select_button,
.admin_select_button_on {
	float: left;
	position:relative;
}

.admin_select_button_on a,
.admin_select_button a,
.select_button a,
.select_button_on a {
	color: #FFF;
	display: block;
	background: url(images/ui_left_off.png) no-repeat left top; 
	padding: 1px 10px;
	font-size: 12px;
	font-family: Arial;
	border: none;
	height: 17px;
	text-decoration: none;
}

.admin_select_button_on,
.select_button_on {
	background-image: url(images/ui_right_on.png);
}

.admin_select_button_on a,
.select_button_on a {
	color: #642;
	background-image: url(images/ui_left_on.png);
}

/* end select buttons */


